body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 400px 0px;
    width: 100vw;
    height: 100vh;
    overflow: clip scroll;
    background-color: #cc8800;
    background-size: cover;
    backdrop-filter: blur(9.7px);

    border: 1px solid rgba(118, 92, 92, 0.24);
    position: relative;
}

#envelopeWrapper {
    display: grid;
    position: sticky;
    top: 200px;
    box-shadow: 0px 0px 28px -7px rgb(0 0 0 / 42%);
}

#envelopeOpen,
#envelopeBody,
#envelopeBodyBack,
#letterBody {
    width: 600px;
    height: 450px;
    background-color: #ecc275;
    grid-row: 1;
    grid-column: 1;
    border-radius: 4px;
}

#envelopeBodyBack {}

#envelopeBody {
    z-index: 3;
    border-radius: 4px;
    clip-path: polygon(0 0, 50% 50%, 100% 0, 100% 100%, 50% 100%, 0 100%);
}

#letterBody {
    z-index: 1;
    background-color: white;
    animation: popandsit;
    animation-timeline: scroll();
}

#envelopeOpen {
    z-index: 2;
    clip-path: polygon(100% 0, 0 0, 50% 50%);
    background-color: #746045;
    animation: open;
    animation-timeline: scroll();
    filter: drop-shadow(0px 0px 10px #000000);
}


@keyframes open {

    30% {
        transform: translateY(-450px) scaleY(-1);

    }

    100% {
        transform: translateY(-450px) scaleY(-1);

    }
}

@keyframes popandsit {
    15% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-450px);
        z-index: 2;
    }

    35% {
        z-index: 3;

    }

    100% {
        box-shadow: 0px 0px 28px -7px rgb(0 0 0 / 42%);

        transform: translateY(250px) scale(1.2);
        z-index: 4;
    }
}