body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 400px 0px;
    width: 100vw;
    height: 100vh;
    overflow: clip scroll;
    background-color: #fcefdb;
    position: relative;
}

#envelopeWrapper {
    display: grid;
    position: sticky;
    top: 200px;
}

#envelopeOpen,
#envelopeBody,
#letterBody {
    width: 600px;
    height: 450px;
    background-color: #ecc275;
    grid-row: 1;
    grid-column: 1;
    border-radius: 4px;

}

#envelopeBody {
    z-index: 3;
    outline: 4px solid #746a45;
    border-radius: 4px;
    clip-path: polygon(0 0, 51% 50%, 100% 0, 100% 100%, 51% 100%, 0 100%);
}

#letterBody {
    z-index: 1;
    background-color: white;
    animation: popandsit;
    animation-timeline: scroll();
}

#envelopeOpen {
    z-index: 2;
    clip-path: polygon(100% 0, 0 0, 51% 50%);
    background-color: #746045;
    animation: open;
    animation-timeline: scroll();
}


@keyframes open {

    30% {
        transform: translateY(-450px) scaleY(-1);

    }

    100% {
        transform: translateY(-450px) scaleY(-1);

    }
}

@keyframes popandsit {
    10% {
        transform: translateY(5px);

    }
    30% {
        transform: translateY(-450px);
        z-index: 2;
    }
    40% {
        z-index: 3;
    }
    100% {
        transform: translateY(250px) scale(1.2);
        z-index: 4;
    }
}